.jumbotron {
    background-color: #312f2f;
    text-align: center;
    color: rgb(55, 250, 7);

    h1 {
        font-family: 'Times New Roman', Times, serif
    }
    p {
        font-family: 'Poppins', sans-serif;
    }
}